<footer class="bg-dark text-center text-light">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">ContactApp</h5>
        <p>
          Beheer uw contacten efficiënt en bewaar al uw belangrijke informatie op één plek.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0 ">
          <li>
            <a routerLink="/home" class="text-light">Home</a>
          </li>
          <li>
            <a routerLink="/list" class="text-light">List</a>
          </li>
          <li>
            <a routerLink="/add-contact" class="text-light">Add Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="mailto:support@contactapp.com" class="text-light">support@contactapp.com</a>
          </li>
          <li>
            <a href="tel:+1234567890" class="text-light">+1 234 567 890</a>
          </li>
        </ul>
        <div class="mt-3">
          <a href="#" class="text-light me-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-light me-3">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-light me-3">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#" class="text-light">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2024 ContactApp. All rights reserved.
  </div>
</footer>

