<div class="container">
<app-add-item></app-add-item>
</div>

<div class="container p-5">
  <table class="table table-striped table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
      </tr>
    </thead>
    <tbody *ngFor="let ps of person">
      <tr>
        <th scope="row">{{ps.id}}</th>
        <td>{{ps.firstName}}</td>
        <td>{{ps.lastName}}</td>
        <td>{{ps.email}}</td>
        <td>{{ps.phone}}</td>
        <td><fa-icon [icon]="faTrashAlt" class="text-danger" (click)="onDelete(ps)"></fa-icon></td>
        <td><a [routerLink]="['/details', ps.id]"><fa-icon  [icon]="faInfoCircle" class="custom-info-color"></fa-icon></a></td>
      </tr>
    </tbody>
  </table>
</div>


